@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #27262a;
  --foreground: #ededed;
  --main-color: #169fb5;
  --secondary-color: #f0a989;
  --bg-color: #0f0f10;
  --stroke-blue-color: #bcecf4;
  --stroke-color: #828181;
  --white: white;
  --black: black;
  --bg-gray: #27262a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #27262a;
    --foreground: #ededed;
    --main-color: #169fb5;
    --secondary-color: #f0a989;
    --bg-color: #0f0f10;
    --stroke-blue-color: #bcecf4;
    --stroke-color: #828181;
    --white: white;
    --black: black;
    --bg-gray: #27262a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
